<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>name</key>
    <string>Jidder</string>
    <key>uuid</key>
    <string>5D6A2C0C-4C58-4E78-9A5F-30C5020A4A7F</string>
</dict>
</plist>
